*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}
body{
   background-color: hsl(218, 23%, 16%); 
  /* background: linear-gradient(to right, rgba(255, 87, 51, 0.8), rgba(110, 231, 183, 0.8)); */

}
.main{
  width: 43%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: hsl(217, 19%, 24%); 
  color: hsl(193, 38%, 86%);
  min-height: 400px;
  border-radius: 30px;
  margin-top: 120px;
  padding: 50px;
  position: relative;
  z-index: 1;
}

.body{
  margin-top: 30px;
  font-size: 27px;
}

.body img{
  width: 50px;
}
.click{
  cursor: pointer;
  position: absolute;
  bottom: -13px;
  left: 50%;
  right: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: hsl(150, 100%, 66%);
  margin-top: 20rem;
  height: 30px;
  padding: 25px 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, 0);
  

}
.icon1{
  margin-top: 4rem;
}
.advice, .advice2{
  color: hsl(150, 100%, 66%); 

}
@media screen and (max-width: 1256px){
.icon1{
  width: 70%;
}
}
@media screen and (max-width: 992px){
  .main{
      width: 60%;
   /* height: 50vh;  */
  }
  
}
@media screen and (max-width: 768px){
  .main{
      width: 70%;
  }
  .icon1{
      width: 78%;
  }
}

@media screen and (max-width: 576px){
  .main{
      width: 85%;
  }

  .icon1{
      width: 82%;
  }
}
@media screen and (max-width: 480px){
  .main{
      width: 90%;
      padding: 40px;
  }

}
@media screen and (max-width: 375px){
  .main{
      width: 100%;
  }
}